@import url("sanitize.css");
@import url("sanitize.css/assets.css");
@import url("sanitize.css/forms.css");
@import url("sanitize.css/reduce-motion.css");
@import url("sanitize.css/system-ui.css");
@import url("sanitize.css/typography.css");
@import url("sanitize.css/ui-monospace.css");

.unknown {
  outline: thin solid red;
}

li:not(.spread) > p {
  margin-top: 0;
  margin-bottom: 0;
}
