/* stylelint-disable-next-line import-notation */
@import "sanitize/*";

:root {
  --m0: rgb(0 0 0);
  --m1: rgb(1 1 1);
  --m2: rgb(8 8 8);
  --m3: rgb(22 22 22);
  --m4: rgb(38 38 38);
  --m5: rgb(54 54 54);
  --m6: rgb(72 72 72);
  --m7: rgb(90 90 90);
  --m8: rgb(109 109 109);
  --m9: rgb(128 128 128);
  --m10: rgb(148 148 148);
  --m11: rgb(169 169 169);
  --m12: rgb(190 190 190);
  --m13: rgb(211 211 211);
  --m14: rgb(233 233 233);
  --m15: rgb(255 255 255);
  --r0: #000;
  --r1: #020001;
  --r2: #110407;
  --r3: #260c15;
  --r4: #3d1724;
  --r5: #552335;
  --r6: #6e3046;
  --r7: #883d57;
  --r8: #a44b6a;
  --r9: #c0597d;
  --r10: #dd6790;
  --r11: #f57ba5;
  --r12: #fa9fbb;
  --r13: #fdc0d1;
  --r14: #ffe0e8;
  --r15: #fff;
  --g0: #000;
  --g1: #010100;
  --g2: #070900;
  --g3: #131901;
  --g4: #222a02;
  --g5: #313b03;
  --g6: #424e05;
  --g7: #536209;
  --g8: #64760d;
  --g9: #768b11;
  --g10: #89a115;
  --g11: #9db634;
  --g12: #b4c973;
  --g13: #cddba5;
  --g14: #e6edd3;
  --g15: #fff;
  --b0: #000;
  --b1: #000103;
  --b2: #000913;
  --b3: #001828;
  --b4: #002940;
  --b5: #003a59;
  --b6: #004d74;
  --b7: #00608f;
  --b8: #0074ac;
  --b9: #0089c9;
  --b10: #009ee7;
  --b11: #2fb3ff;
  --b12: #76c7ff;
  --b13: #a8daff;
  --b14: #d4edff;
  --b15: #fff;
}
