/* stylelint-disable-next-line import-notation */
@import "sanitize/*";

:root {
  --m0: rgb(0 0 0);
  --m1: rgb(1 1 1);
  --m2: rgb(8 8 8);
  --m3: rgb(22 22 22);
  --m4: rgb(38 38 38);
  --m5: rgb(54 54 54);
  --m6: rgb(72 72 72);
  --m7: rgb(90 90 90);
  --m8: rgb(109 109 109);
  --m9: rgb(128 128 128);
  --m10: rgb(148 148 148);
  --m11: rgb(169 169 169);
  --m12: rgb(190 190 190);
  --m13: rgb(211 211 211);
  --m14: rgb(233 233 233);
  --m15: rgb(255 255 255);
  --g12: rgb(179 202 105);
  --g13: rgb(200 223 127);
  --g14: rgb(222 246 148); /* oklch(14/15, 0.125, 120) */
  --g15: rgb(255 255 255);
}
